@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>TestRuns</h2>
        <p>
            TestRuns
        </p>
        <p><a class="btn btn-default" href="/testruns">Go &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>TestSuites</h2>
        <p>TestSuites</p>
        <p><a class="btn btn-default" href="/testsuites">Go &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>TestCases</h2>
        <p>TestCases</p>
        <p><a class="btn btn-default" href="/testcases">Go &raquo;</a></p>
    </div>
</div>