@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>TestRun</h2>
        <p>
            TestRun
        </p>
        <p><a class="btn btn-default" href="/testrun">Go &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>TestSuite</h2>
        <p>TestSuite</p>
        <p><a class="btn btn-default" href="/testsuite">Go &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>TestCase</h2>
        <p>TestCase</p>
        <p><a class="btn btn-default" href="/testcase">Go &raquo;</a></p>
    </div>
</div>