@using TestResultRepoData
@{
    var testcases = @Model;
}

<div class="testCaseCardList">
    @foreach (TestCase testcase in testcases)
    {
        Html.RenderAction("RenderViewFromTestCase", "TestCaseCard", new { testCase = testcase });
    }
</div>