@using TestResultRepoModels

@{
    ViewBag.Title = "Index";
    TestCase testCase = ViewBag.testCase;
}

<div id="testCase" style="margin-top: 50px">
    @Html.Action("RenderTestCaseCard", "TestCases", new { testCase = ViewBag.testCase })
</div>

<div>
    <div class="row">
        <div class="col-sm-12 text-center" style="margin-top: 50px; margin-bottom: 50px">
            <h1>History</h1>
        </div>
    </div>
</div>

<div id="historicalTestCases">
    @foreach (TestCase tc in ViewBag.testCases)
    {
        @Html.Action("RenderTestCaseCard", "TestCases", new { testCase = tc })
    }
</div>