@using TestResultRepoData

@{
    ViewBag.Title = "All";
}

<h2>
    <a href="/">TestRun</a>
</h2>
<ul>
    @foreach (var testRun in ViewBag.testRuns as ICollection<TestRun>)
    {
        <li>
            <a href="?id=@testRun._Id">@testRun._Id</a>
        </li>
       
    }
</ul>

